@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&family=Single+Day&display=swap");

.valentines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dogFig {
  width: 300px; /*container-width*/
  overflow: hidden; /*hide bounds of image */
  margin: 0; /*reset margin of figure tag*/
}

.dogFig img {
  display: block; /*remove inline-block spaces*/
  width: 100%; /*make image streatch*/
  margin: -32% 0;
}

body {
  background-color: #ffd3d2;
  font-family: "Single Day";
}

h1 {
  font-family: "Single Day";
  color: #fe7f6c;
}

.buttons {
  margin: 18px;
}

.yesButton {
  font-family: "Single Day";
  padding: 0.8em 1.2em;
  background-color: #4caf50; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline on text */
  display: inline-block; /* Allows setting dimensions */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Mouse cursor changes to pointer hand */
  border-radius: 5px; /* Rounded corners */
}

.yesButton:hover {
  background-color: #45a049; /* Darker green background on hover */
}

.noButton {
  font-family: "Single Day";
  background-color: red;
  border: none;
  color: white;
  font-size: 18px;
  padding: 0.8em 1.2em; /* Top and bottom padding, left and right padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline on text */
  display: inline-block; /* Allows setting dimensions */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Mouse cursor changes to pointer hand */
  border-radius: 5px; /* Rounded corners */
}

.noButton:hover {
  background-color: #b50404; /* Darker red background on hover */
}
